run = "npm start"
entrypoint = "main.sh"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm install"]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 5000

[[ports]]
localPort = 8000
